<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 mt-6" id="current_user_docs_list">
    <%= render partial: "docs/doc", collection: @docs %>
</div>