<div class="container mx-auto md:p-6">
    <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
        <h1 class="text-4xl font-bold text-blue-600 mb-4">Welcome to IttyBittyBoards!</h1>
        <p class="text-xl mb-4">🎉 Congratulations on taking the first step towards enhancing communication for your child! 🌟</p>
        <p class="mb-6">We are thrilled to have you join our community. IttyBittyBoards is dedicated to providing a supportive, easy-to-use platform for creating visual communication tools. Let's get started on this empowering journey!</p>
        
        <h2 class="text-3xl font-bold mb-4">Here's What You Can Do Next:</h2>
        
        <div class="my-6">
            <h3 class="text-2xl font-semibold mb-2">1. Create Your First Board:</h3>

            <ul class="mt-4">
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Navigate to the 'Boards' <%= board_nav %> section in your navbar.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Start from scratch or by cloning <%= copy_nav %> a sample board & then customize it to fit your needs.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Upload your own images <%= image_nav %>  to give your board a personal touch.
                    </p>
                </li>
            </ul>
        </div>

        <%# <div class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">2. Generate AI Images:</h3>
            <p>Use our AI image generator from the board or image gallery sections. Choose a word to create, describe the image you need, and our AI will bring your vision to life.</p>

            <div class="bg-white rounded-lg p-6 md:p-8 mt-2 border">
                <h2 class="text-xl font-bold text-gray-800 mb-4">Understanding Tokens</h2>

                <p class="mb-4"><span class="text-lg font-bold">> Tokens are the key to unlocking our AI's creative potential.</span> Each token allows you to generate one AI image. As a warm welcome, new users receive 10 free tokens to start exploring this feature!</p>

                <p class="mb-4"><span class="text-lg font-bold">> Need more tokens?</span> Easily purchase additional ones by clicking the tokens icon in the navbar or directly from your dashboard. Remember, it's just 1 token per AI image.</p>

                <p class="mb-4"><span class="text-lg font-bold">> Creating an effective image prompt is simple.</span> For example, "a cartoon cat playing with a ball of yarn under a sunny sky" provides clear, descriptive elements for the AI to visualize. The more detailed your description, the more accurate the AI-generated image will be.</p>

                <p class="mb-4"><span class="text-lg font-bold">> And remember, using IttyBittyBoards doesn't require any tokens.</span> You can always upload your own images for free to create personalized communication boards.</p>
            </div>

        </div> %>
        <div class="my-6">
            <h3 class="text-2xl font-semibold mb-2">2. Generate AI Images:</h3>
            <ul class="mt-4">
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Use our AI image generator from the board or image gallery sections.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Choose a word to create, describe the image you need, and our AI will bring your vision to life.
                    </p>
                </li>
            </ul>
        </div>            


        <%# <div class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">3. Explore the Menu Reader Feature:</h3>
            <p>Find the 'Menus' option in your navbar & choose 'New Menu'. Upload a photo of a restaurant's menu, and our tool will convert it into a visual, easy-to-understand communication board.</p>
        </div> %>
        <div class="my-6">
            <h3 class="text-2xl font-semibold mb-2">3. Explore the Menu Reader Feature:</h3>
            <ul class="mt-4">
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Find the 'Menus' option in your navbar & choose 'New Menu'.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Upload a photo of a restaurant's menu, and our tool will convert it into a visual, easy-to-understand communication board.
                    </p>
                </li>
            </ul>
        </div>
        <hr>
        <h2 class="text-2xl font-bold text-gray-800 my-4">Need Help or Inspiration?</h2>
        <p class="mb-6">Check out our <%= link_to 'Demo', demo_path, class: "text-blue-600 font-semibold" %> section for tutorials.</p>

        <h2 class="text-2xl font-bold text-gray-800 mb-4">We're Here for You:</h2>
        <p>If you have any questions, suggestions, or need a bit of advice, feel free to reach out. <br>We are more than happy to help!</p>
    </div>
</div>