<div class="container mx-auto p-6">
    <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
        <h1 class="text-2xl font-bold text-blue-600 mb-4">Welcome to IttyBittyBoards!</h1>
        <p class="text-lg mb-4">🎉 Congratulations on taking the first step towards enhancing communication for your child! 🌟</p>
        <p class="mb-6">We are thrilled to have you join our community. IttyBittyBoards is dedicated to providing a supportive, easy-to-use platform for creating visual communication tools. Let's get started on this empowering journey!</p>
        
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Here's What You Can Do Next:</h2>
        
        <div class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">1. Create Your First Board:</h3>
            <p>Navigate to the 'Boards' section in your navbar. Start from scratch or by cloning a predefined board like 'Daily Activities' or 'Feelings', and then upload images and add more words to make it engaging for your child.

        </div>

        <div class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">2. Generate AI Images:</h3>
            <p>Use our AI image generator from the board or image gallery sections. Choose a word to create, describe the image you need, and our AI will bring your vision to life.</p>

            <div class="bg-white rounded-lg p-6 md:p-8 mt-2 border">
                <h2 class="text-xl font-bold text-gray-800 mb-4">Understanding Tokens</h2>

                <p class="mb-4"><span class="text-lg font-bold">> Tokens are the key to unlocking our AI's creative potential.</span> Each token allows you to generate one AI image. As a warm welcome, new users receive 10 free tokens to start exploring this feature!</p>

                <p class="mb-4"><span class="text-lg font-bold">> Need more tokens?</span> Easily purchase additional ones by clicking the tokens icon in the navbar or directly from your dashboard. Remember, it's just 1 token per AI image.</p>

                <p class="mb-4"><span class="text-lg font-bold">> Creating an effective image prompt is simple.</span> For example, "a cartoon cat playing with a ball of yarn under a sunny sky" provides clear, descriptive elements for the AI to visualize. The more detailed your description, the more accurate the AI-generated image will be.</p>

                <p class="mb-4"><span class="text-lg font-bold">> And remember, using IttyBittyBoards doesn't require any tokens.</span> You can always upload your own images for free to create personalized communication boards.</p>
            </div>

        </div>

        <div class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">3. Explore the Menu Reader Feature:</h3>
            <p>Find the 'Menus' option in your navbar & choose 'New Menu'. Upload a photo of a restaurant's menu, and our tool will convert it into a visual, easy-to-understand communication board.</p>
        </div>
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Need Help or Inspiration?</h2>
        <p class="mb-6">Check out our 'Demo' section for tutorials.</p>

        <h2 class="text-2xl font-bold text-gray-800 mb-4">We're Here for You:</h2>
        <p>If you have any questions, suggestions, or need a bit of advice, feel free to reach out. We are more than happy to help!</p>
    </div>
</div>