<div class="container mx-auto md:p-6">
    <div class="bg-white rounded-lg shadow-lg p-6 md:p-8">
        <h1 class="text-4xl font-bold text-blue-600 mb-4">Welcome to SpeakAnyWay!</h1>
        <p class="text-xl mb-4">🎉 Congratulations on taking the first step towards enhancing communication for your child! 🌟</p>
        <p class="mb-6">We are thrilled to have you join our community. SpeakAnyWay is dedicated to providing a supportive, easy-to-use platform for creating visual communication tools. Let's get started on this empowering journey!</p>
        
        <h2 class="text-3xl font-bold mb-4">Here's What You Can Do Next:</h2>
        
        <div class="my-6">
            <h3 class="text-2xl font-semibold mb-2">1. Create Your First Board:</h3>

            <ul class="mt-4">
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Navigate to the 'Boards' <%= board_nav %> section in your navbar.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Start from scratch or by cloning <%= copy_nav %> a sample board & then customize it to fit your needs.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Upload your own images <%= image_nav %>  to give your board a personal touch.
                    </p>
                </li>
            </ul>
        </div>

        <div class="my-6">
            <h3 class="text-2xl font-semibold mb-2">2. Generate AI Images:</h3>
            <ul class="mt-4">
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Use our AI image generator from the board or image gallery sections.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Choose a word to create, describe the image you need, and our AI will bring your vision to life.
                    </p>
                </li>
            </ul>
        </div>

        <div class="my-6">
            <h3 class="text-2xl font-semibold mb-2">3. Explore the Menu Reader Feature:</h3>
            <ul class="mt-4">
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Find the 'Menus' option in your navbar & choose 'New Menu'.
                    </p>
                </li>
                <li class="mb-2"> <i class="fas fa-arrow-right fa-lg text-green-600 mr-2"></i>
                    <p class="text-xl font-medium mb-2 inline">
                        Upload a photo of a restaurant's menu, and our tool will convert it into a visual, easy-to-understand communication board.
                    </p>
                </li>
            </ul>
        </div>
        <hr>
        <h2 class="text-2xl font-bold text-gray-800 my-4">Need Help or Inspiration?</h2>
        <p class="mb-6">Check out our <%= link_to "Demo", demo_path, class: "text-blue-600 font-semibold" %> section for tutorials.</p>

        <h2 class="text-2xl font-bold text-gray-800 mb-4">We're Here for You:</h2>
        <p>If you have any questions, suggestions, or need a bit of advice, feel free to reach out. <br>We are more than happy to help!</p>
    </div>
</div>