
<%= simple_form_for(@team) do |f| %>
  <div class="p-3 mb-4">
    <%= f.input_field :name, label: "Name", class: "w-full border border-gray-300 p-2 rounded-md", rows: 10, placeholder: "Please enter your team name here." %>
  </div>

  <div class="flex justify-end items-center">
    <%= f.button :submit, "Create", class: "py-2 px-4 bg-purple-600 text-white rounded-md text-lg hover:bg-purple-700 transition duration-150 ease-in-out" %>
  </div>
<% end %>
