<div class="flex justify-around">
  <%= form_with(url: set_current_teams_path, method: :post, data: {controller: "teams"}, class: "rounded") do |f| %>
    <%= f.collection_select :team_id, @teams, :id, :name, { selected: current_user&.current_team_id }, class: "rounded text-black ", data: { action: "change->teams#setCurrent" } %>
  <% end %>
</div>