<div class="flex items-center justify-between">
  <dt class="text-sm text-t2"><%= label %></dt>
  <dd class="text-sm font-medium <%= defined?(danger) && danger ? "text-red-500" : "text-t1" %>">
    <%= value %>
  </dd>
</div>
