<div class="w-full md:w-3/4 lg:3/4 py-4 px-2 md:px-4 mx-auto">
  <div class="md:p-8 bg-white mt-8 border-t-2 mx-auto">
    <h2 class="text-2xl font-bold my-4 ml-2 text-center">Send us a message</h2>
  <%= turbo_frame_tag "new_message" do %>
    <%= render "form", message: @message %>
  <% end %>
</div>
</div>