<h1>Editing openai prompt</h1>

<%= render "form", prompt_template: @prompt_template %>

<br>

<div>
  <%= link_to "Show this openai prompt", @prompt_template %> |
  <%= link_to "Back to openai prompts", prompt_templates_path %>
</div>
