<div id="<%= dom_id menu %>">
  <p>
    <strong>User:</strong>
    <%= menu.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

</div>
