<div class="container mx-auto p-5">
  <div class="bg-white rounded-lg shadow-lg p-6 m-4">
    <div class="mb-4">
      <h2 class="text-2xl font-semibold text-gray-800">Menus</h2>
      <%= link_to "New menu", new_menu_path, class: "inline-block bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 transition duration-150" %>
    </div>
    <!-- Menus list -->
    <% @menus.each do |menu| %>
      <%= render menu %>
    <% end %>
  </div>
</div>