<div class="container mx-auto md:p-5">
  <div class="smd:p-6 m-1 md:m-4">
    <div class="mb-4">
      <h1 class="text-4xl font-bold my-3">
        Menus
      </h1>
      <%= link_to "New Menu", new_menu_path, class: "text-blue-600 hover:text-blue-200 px-2 py-1 rounded-md text-sm font-medium border m-1" %>
    </div>
    <% if @menus.empty? %>
      <p class="my-10 text-gray-500 text-center p-2">You haven't created any menus yet. <br> <%= link_to "Create a new menu", new_menu_path, class: "text-indigo-600 hover:underline" %>.</p>
    <% else %>
    <!-- Menus list -->
    <% @menus.each do |menu| %>
      <%= render menu %>
    <% end %>
    <% end %>
  </div>
</div>