<div id="menus" class="border p-4 md:p-6 w-full bg-blue-50">
  <div class="flex justify-between items-center mb-4">
    <%= paginate @menus %>
    <%= link_to "New menu",
                new_menu_path,
                class: "py-2 px-4 bg-purple-600 text-white rounded-md text-lg hover:bg-purple-700 transition duration-150 ease-in-out" %>
  </div>
  
  <h3 class="text-2xl font-bold text-gray-800 mb-4">Menus</h3>
  
  <%= render @menus.order(name: :asc) %>
</div>
