<div class="felx justify-between">
    <%= link_to "Docs", docs_path, class: "text-lg text-white bg-blue-500 hover:bg-blue-700 font-medium py-2 px-4 rounded-md shadow" %>
    <%= link_to "Deleted Docs", deleted_docs_path, class: "text-lg text-white bg-blue-500 hover:bg-blue-700 font-medium py-2 px-4 rounded-md shadow" %>
</div>

<div class="flex justify-end items-center my-4">
    <%= link_to "New doc", new_doc_path, class: "text-lg text-white bg-blue-500 hover:bg-blue-700 font-medium py-2 px-4 rounded-md shadow" %>
</div>