<div class="text-center bg-white rounded-lg shadow-md overflow-hidden h-full">
  <div id="<%= dom_id board_image %>" class="w-full h-max cursor-pointer">
    <div class="items-center text-center" id="<%= board_image.label %>">
      <%= display_image_for(board_image.image, current_user) %>
    </div>
  </div>
  <%= link_to board_image.label&.upcase, board_image, class: "text-sm text-gray-700 py-2 block hover:text-blue-600" %>
</div>