<div id="<%= dom_id board_image %>">
  <p>
    <strong>Board:</strong>
    <%= board_image.board_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= board_image.image_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= board_image.position %>
  </p>

</div>
