<h1>Editing board image</h1>

<%= render "form", board_image: @board_image %>

<br>

<div>
  <%= link_to "Show this board image", @board_image %> |
  <%= link_to "Back to board images", board_images_path %>
</div>
