<p style="color: green"><%= notice %></p>

<h1>Board images</h1>

<div id="board_images">
  <% @board_images.each do |board_image| %>
    <%= render board_image %>
    <p>
      <%= link_to "Show this board image", board_image %>
    </p>
  <% end %>
</div>

<%= link_to "New board image", new_board_image_path %>
