<div class="md:w-2/3 p-5 h-screen mx-auto">
  <h1 class="text-3xl font-bold text-blue-600 mb-6 text-center">Create a custom communication board from any scenario</h1>
  <%= render "form", openai_prompt: @openai_prompt %>
</div>
