<div id="<%= dom_id board %>_images" class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <%= render "boards/modal", board: board %>

    <div class="relative border p-3 w-full">
        <h3 class="text-lg font-bold text-gray-800 m-3">I would like:</h3>
        <ul class="text-gray-800 font-semibold mb-4 pl-4" id="the-list"></ul>
        <%= button_tag "Clear", class: "absolute bottom-1 right-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-2", data: { action: "click->notice#clearList" } %>
            
    </div>

    <% board.images.each do |image| %>
        <div class="text-center bg-white rounded-lg shadow-md overflow-hidden">
            <%= render 'images/static_image', image: image , board: board %>
        </div>
    <% end %>
</div>