<div>
  <div class="relative flex cursor-pointer flex-col overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 shadow-md transition-opacity hover:opacity-90" data-dialog-target="image-dialog">
    <%= display_doc_image(board.docs.last, "h-fit w-fit object-contain object-center") if board.docs.last %>
  </div>

  <div data-dialog-backdrop="image-dialog" data-dialog-backdrop-close="true" class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
    <div class="relative m-4 w-3/4 min-w-[75%] max-w-[75%] rounded-lg bg-white font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased shadow-2xl pb-10 pt-10" role="dialog" data-dialog="image-dialog">
      <div class="relative border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 p-0 font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased">
        <%= display_doc_image(board.docs.last, "h-[48rem] w-full object-contain object-center") if board.docs.last %>
      </div>
    </div>
  </div>
</div>
