<div class="md:w-2/3 p-5 h-screen mx-auto">
  <h1 class="text-3xl font-bold text-blue-600 mb-6 text-center">New Board</h1>
  <%= render "form", board: @board %>
  <div class="mt-6 text-center">
    <%= link_to "Back to Boards", boards_path, class: "text-blue-600 hover:text-blue-800 underline" %>
  </div>
</div>
