<div id="<%= dom_id team_board %>">
  <p>
    <strong>Board:</strong>
    <%= team_board.board_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= team_board.team_id %>
  </p>

  <p>
    <strong>Allow edit:</strong>
    <%= team_board.allow_edit %>
  </p>

</div>
