<h1>Editing beta request</h1>

<%= render "form", beta_request: @beta_request %>

<br>

<div>
  <%= link_to "Show this beta request", @beta_request %> |
  <%= link_to "Back to beta requests", beta_requests_path %>
</div>
