<div id="products" class="container sm:w-full md:w-3/4 mx-auto p-4 bg-white">
  <h1 class="text-center mb-3 text-xl font-bold">Buy more tokens!!</h1>

  <%= render "product_row" %>
  <%= coffee_link %>
</div>
