<div class="w-full mx-auto overflow-clip p-1">
    <h3 class="text-lg font-bold my-3">Color Key</h3>
    <div class="grid grid-cols-4 md:grid-cols-8 lg:grid-cols-8 gap-1 my-6 pb-5 text-xs">
        <p class="font-bold bg-blue-400 p-1">Nouns</p>
        <p class="font-bold bg-green-400 p-1">Verbs</p>
        <p class="font-bold bg-yellow-400 p-1">Adjectives</p>
        <p class="font-bold bg-red-400 p-1">Adverbs</p>
        <p class="font-bold bg-purple-400 p-1">Prepositions</p>
        <p class="font-bold bg-indigo-400 p-1">Conjunctions</p>
        <p class="font-bold bg-pink-400 p-1">Pronouns</p>
        <p class="font-bold bg-teal-400 p-1">Interjections</p>
        <p class="font-bold bg-gray-400 p-1">Other</p>
    </div>
</div>