<%= form_with(url: generate_image_path(image), method: :post, data: { turbo: false, controller: 'generate-image', image_id: image.id }, class: 'text-center') do |form| %>
<div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-3">

        <%= form.text_area :image_prompt, value: image.image_prompt, placeholder: "Enter a prompt for your image", class: "w-full py-2 px-3 rounded border focus:ring-2 focus:ring-orange-300 focus:outline-none", rows: 1, data: { generate_image_target: "image_prompt" } %>
        <%= form.submit "GO", id: "generateButton", class: "w-full sm:w-auto px-4 py-2 font-medium bg-green-300 rounded hover:bg-green-400 focus:ring-2 focus:ring-green-200 cursor-pointer disabled:opacity-75 disabled:cursor-not-allowed", data: { action: "click->generate-image#generate" } %>
</div>
<% end %>
<p class="text-center text-sm text-gray-400">
   This will use 1 token. <br> Learn more about AI Image Generation <a href="https://openai.com/dall-e-3" target="_blank" class="text-blue-500 hover:text-blue-700">here</a>.
</p>
