
<h1 class="text-4xl font-bold my-3 mx-1"> Image Library</h1>
<%= render "shared_nav" if current_user.admin? %>
<div class="w-full mx-auto overflow-clip">
<%= paginate @images %>
</div>
    <ul class="flex justify-center text-4xl font-bold" id="the-list" data-static-board-target="list"></ul>
  <%= render "utils/search", search_path: images_path, show_user_images_only: true %>

<div id="images" class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-6 gap-2 my-6 pb-10">
  <% @images.each do |image| %>
    <%= render image %>
  <% end %>
</div>
