
<footer class="absolute bottom-0 w-full bg-gray-900 text-white bg-opacity-80 p-2 text-center text-sm">
  <p>© <%= Date.today.year %> Created by <a href="http://brittanyjohns.dev" target="_blank" class="text-white hover:text-blue-300">Brittany Johns</a></p>
</footer>
