
<footer class="absolute bottom-0 bg-gray-800 text-white text-center py-4 mt-10">
  <p>© <%= Date.today.year %> Created by <a href="http://brittanyjohns.dev" target="_blank" class="text-blue-400 hover:text-blue-300">Brittany Johns</a></p>
</footer>
