<div class="border p-3 w-full absolute bottom-0">
    <%= link_to "Edit this  board", edit_board_path(board) %> |
    <%= link_to "Back to boards", boards_path %>
    
    <%= button_to "Destroy this board", board, method: :delete %>
</div>